body {
    max-width: 480px;
    background: pink;
    margin: 0 auto;
    height: 100vh;
}

#letter {
    position: absolute;
    width: 300px;
    min-height: 300px;
    max-height: 80vh;
    overflow-y: auto;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20px);
    
    background: white;
    border-radius: 10px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, .3);
    opacity: 0;
    visibility: hidden;
    transition: opacity 5s ease, transform 5s ease;
    padding: 20px;
    z-index: 999;
}

#letter.show-letter {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, 0);
}

#letter h2 {
    text-align: center;
}

#letter p { 
    text-align: justify;
    line-height: 1.5;
    margin-bottom: 1em;
    word-wrap: break-word; 
    overflow-wrap: break-word;
}

#cute-img {
    width: 100px;
    height: auto;
    display: block;
    margin: 10px auto;
}

.cat {
    margin-top: -175px;
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    transition: transform 2s ease;
    z-index: 1000;
    cursor: pointer;
}

.move-up {
    transform: translate(-50%, -250px);
}

.cat > img {
    width: 200px;
    height: auto;
}

.heart {
    margin-top: -50px;
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    transition: transform 2s ease;
}

.move-down {
    transform: translate(-50%, 400px);
}

.heart > img {
    width: 50px;
    height: auto;
    animation: beat 1s infinite ease-in-out;
    cursor: pointer;
}

@keyframes beat {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
}
